@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    height: 5rem;
    border:  black solid 1px;
    border-left: none;
    border-right: none;
    color: whitesmoke;
    background-color: #333333;
}
.title{
  font-size: 4rem;
}
.fa-address-card{
  font-size: 4rem;
}
