button{
    text-align: center;
    border: none;
    height: 2.3rem;
    width: 35vw;
    color: whitesmoke;
    padding: 0.2rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(51, 51, 51);
    color: rgb(238, 238, 238);
    cursor: pointer;
    margin-bottom: 5px;
  }
  button:hover{
    background-color: rgb(34, 34, 34);
  }
  .main{
      margin-top: 3rem;
      margin-left: 2rem;
      margin-right: 2rem;
      min-height: min-content;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  .editing{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      border-radius: 5px;
      width: 40%;
      gap: 1rem ;
      padding: 2rem;
      background-color: rgb(238, 238, 238);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .reset{
    background-color: #b3211e;
  }
  .reset:hover{
    background-color: rgb(162, 16, 13);
  }
   input{
    border: none;
    border-radius: 5px;
    height: 2rem;
    font-size: x-large;
    text-align: center;
    width: 35vw
  } 
  textarea{
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 35vw;
    height: 6rem;
    font-size: medium;
    text-align:start;
    resize: none;
  }
  Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem ;
  
  }
  