.preview{
    background-color:#eeeeee;
    border: none;
    border-radius: 5px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
ul{
  list-style-type: none;
  font-size: medium;
  font-weight: bold;
}


.previewContainer {
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "previewHeader previewHeader previewHeader previewHeader previewHeader previewHeader"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar";
  }
  .previewHeader {
      min-width: 95%;
       padding: 1rem;
       grid-area: previewHeader; 
       height: 6rem;
       color: whitesmoke;
       background-color: #143e72;
    }
  .previewSideBar { grid-area: previewSideBar; }
  .previewMain {
      max-width: 90%;
     grid-area: previewMain;
    word-break: break-all;
 
    }

  .mainInfo{
    font-size: 30px;
    font-weight: bold;
  }
  .secondaryInfo{
    margin-top: 12px;
    font-size: 26px;
    font-weight: 500;
  }
  .previewList{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
  }

  .experience-list{    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px lightgray solid;
    max-height: 110px;
    flex-wrap: wrap;
  }
  .education-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px lightgray solid;
    max-height: 110px;
    flex-wrap: wrap;
  }
.preview-list-title{
    font-size: x-large;
    border-bottom: lightgray 2px solid;
}

.experience-list>* .education-list>*{
    text-decoration: underline rgb(175, 175, 175);
}