.preview{
    background-color:#eeeeee;
    border: none;
    border-radius: 5px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
ul{
  list-style-type: none;
  font-size: medium;
  font-weight: bold;
}


.previewContainer {
    min-width: 100%;
    min-height: 100%;
    display: grid;
    gap: 0px 0px;
    
    grid-template-areas:
      "previewHeader previewHeader previewHeader previewHeader previewHeader previewHeader"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar"
      "previewMain previewMain previewMain previewMain previewSideBar previewSideBar";
      grid-template-rows: 1fr 10fr 10fr 10fr 10fr 10fr;
      grid-template-columns: 1fr 1fr 1fr 10r 1fr 1fr;
  }
  .previewHeader {
      min-width: 95%;
       padding: 1rem;
       grid-area: previewHeader; 
       height: 6rem;
       color: whitesmoke;
       background-color: #143e72;
    }
  .previewSideBar {
       grid-area: previewSideBar;
       background-color: rgba(128, 128, 128, 0.575);
       border-radius: 8px;
       max-width: 100%;
     }
  .previewMain {
      max-width: 98%;
     grid-area: previewMain;
    word-break: break-all;
 
    }

  .mainInfo{
    font-size: 30px;
    font-weight: bold;
  }
  .secondaryInfo{
    margin-top: 12px;
    font-size: 26px;
    font-weight: 500;
  }
  .preview-description-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px lightgray solid;
    flex-wrap: wrap;
    font-size: 1rem;
    max-width: 100%;
  }
  .previewList{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1rem;
  }

  .preview-secondary-list{     
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px lightgray solid;
    max-height: 110px;
    flex-wrap: wrap;
  }
.preview-list-title{
    font-size: x-large;
    border-bottom: lightgray 2px solid;
}

.previewListItem{
   /*  min-height: 20rem; */
}
